# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/.idea
**/.gitignore
**/target
.idea
.gitignore
/gulimall.iml
/gulimall-common/gulimall-common.iml
/gulimall-coupon/gulimall-coupon.iml
/gulimall-member/gulimall-member.iml
/gulimall-order/gulimall-order.iml
/gulimall-product/gulimall-product.iml
/gulimall-ware/gulimall-ware.iml
/renren-generator/renren-generator.iml
